@import "zero_styles.scss";
@import "variables.scss";

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: $fz;
  background-color: $background-color;
  @media screen and (min-width: 767px) {
    font-size: $fz-m;
  }

  @media screen and (min-width: 992px) {
    font-size: $fz-l;

  }
}

.container {
  padding: 0 $pg * 5;
  margin: 0 auto;
  max-width: $max-width;
}

.header {
  display: flex;
  padding: $pg * 10 $pg * 5 $pg * 2;
  margin: 0 auto;
  align-items: center;
  max-width: $max-width;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $background-color;
}

