$fz: 14px;
$fz-m: 16px;
$fz-l: 18px;
$pg: 5px;
$mn: 5px;

$main-color: #2a2e9a;
$main-color-2: #6063ce;
$text-color: black;
//$additional-color: ;
//$second-color: ;
//$background-color-light: ;
$background-color: white;