$fz: 14px;
$fz-m: 16px;
$fz-l: 18px;
$pg: 5px;
$mn: 5px;

$main-color: #2a2e9a;
$main-color-2: #6265c2;
$additional-color: #abafff;
$text-color: black;
$background-color: white;
$sidebar-background: #f1f1f1;
$sidebar-link: #e1e1e1;